<!DOCTYPE html>
<html lang = "en">
    <head>
        <title>Playground</title>
        <meta charset="utf-8"/>
        <style type = "text/css">
            *{
                margin: 0px;
                }
                h1{
                    text-align: center;
                }
                #flex_container{
                    display: flex;
                    justify-content: space-between;
                }
                
                .blue_box{
                    margin: 10px;
                    width: 500px;
                    height: 400px;
                    background-color: blue;
                }
        </style>
    </head>
    <body>
        <h1>Welcome!</h1>
        <div id = "flex_container">
            <div class = "blue_box"></div>
            <div class = "blue_box"></div>
            <div class = "blue_box"></div>
        </div>
    </body>
</html>