*{
    margin: 0px;
    }

    #container{
        text-align: center;
        line-height: 70px;
        border: 10px solid blue;
        border-radius: 5px;
    }

    p{
        font-size: 25px;
        background-color: aliceblue;
    }

    #clock{
        font-size: 40px;
        border-top: 4px dotted black;
    }